@import "../../../styles/variables.scss";
@import "../../../styles/mixins";
@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");

.typing_text {
  margin-top: 14px;
  min-height: 40px;
  min-width: 320px;
  animation: fadeIn 4.5s ease;
  color: var(--text);
  z-index: 1;
  
  &__parr {
    white-space: nowrap;
    overflow: hidden;
    font-size: $mobile-subtitle-size;
    text-align: center;

  }
  &__carret {
    @keyframes caret {
      50% {
        border-color: transparent;
      }
    }

    border-right: 2px solid var(--text);
    animation: caret 500ms infinite normal;
  }
}

@include for-desktop {
  .typing_text {
    &__parr {
      font-size: $desktop-subtitle-size;
    }
  }
}
