@import "../../../styles/variables";

.country_combo {
  button {
    padding: 4px;
    border: none;
  }
  button::after {
    border-top: 5px solid var(--bg);
  }
  span {
    font-family: roboto, -apple-system;
    color: var(--bg);
    padding: 1px;
    margin: 0%;
  }
}

