@import "../../../styles/variables.scss";
@import "../../../styles/mixins";

.job {
  color: var(--text);

  &__header {
    display: flex;
  }

  &__image_container {
    position: relative;
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  &__titles {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    max-width: calc(100% - 80px);
    margin-left: 12px;
  }

  &__title {
    font-size: $mobile-title-section-size - 2px;
  }
  &__subtitle {
    font-size: $mobile-description-size - 1px;
  }

  &__desc {
    margin-top: 8px;
    font-size: $mobile-description-size - 1px;
    li {
      padding: 2px;
    }
  }
}

@include for-desktop {
  .job {
    &__header {
      align-items: center;
    }

    &__image_container {
      width: 100px;
      height: 100px;
    }

    &__titles {
      margin-left: 8px;
      max-width: calc(100% - 130px);
    }

    &__title {
      font-size: $desktop-subtitle-size;
    }
    &__subtitle {
      font-size: $desktop-description-size;
    }

    &__desc {
      margin-top: 14px;
      font-size: $desktop-description-size;
      max-width: 400px;
      li {
        padding: 6px;
      }
    }
  }
}
