$mobile-big-title-size: 36px;
$mobile-subtitle-size: 24px;
$mobile-title-section-size: 22px;
$mobile-description-size: 14px;
$mobile-max-content: 320px;
$mobile-header-height: 70px;

$desktop-big-title-size: 48px;
$desktop-subtitle-size: 32px;
$desktop-description-size: 18px;
$desktop-min-size: 1024px;
$desktop-max-content: 1280px;
$desktop-header-height: 100px;
$desktop-text-max-content: 950px;

$bg-header: #0f7173;
$cta: #f05d5e;
$highlight: #fec297;
